/* GENERAL STYLES */

@font-face {
  font-family: "Poppins";
  src: url(fonts/Poppins-Light.ttf);
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;

  a {
    text-decoration: none;
    color: #222222;
  }

  h1 {
    font-size: 36px;
    line-height: 1.2em;
  }

  p {
    font-size: 14px;
    line-height: 1.625em;
  }
}

.container {
  width: 1110px;
  margin: 0 auto;
  padding-top: 10px;
}

/* HEADER STYLES */

header {
  position: sticky;
  /* top: 0; */
  /* opacity: 1; */
  box-shadow: -21.213px 21.213px 30px 0px rgba(158, 158, 158, 0.3);

  .container {
    width: 1110px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;

    > #items {
      display: flex;
      justify-content: space-between;
      align-items: center;

      > nav > ul > li:hover > ul {
        display: flex;
        flex-direction: column;
      }
    }

    #items > nav > ul {
      display: flex;
      list-style-type: none;
      justify-content: flex-end;
      align-items: center;

      > li {
        margin-left: 10px;
        position: relative;

        a {
          transition-duration: 0.3s;
          padding: 8px;
          font-size: 12px;
          font-weight: bold;
          color: #222;
        }

        > a:hover {
          color: #8490ff;
        }

        > ul {
          display: none;
          list-style-type: none;
          position: absolute;
          right: 0;
          width: max-content;
          padding: 0;
          margin-top: 51%;
          box-shadow: 0px 0px 30px rgb(127, 137, 161);

          > li:hover > ul {
            display: flex;
            flex-direction: column;
          }

          > li {
            width: 180px;
            padding: 7px;

            > a {
              padding: 5px 10px;
              display: block;
              color: #333;
            }

            > a:hover {
              color: #8490ff;
            }

            > ul {
              display: none;
              list-style-type: none;
              position: absolute;
              right: 193.5px;
              width: max-content;
              padding: 0;
              margin-top: -28px;
              box-shadow: 0px 0px 30px rgb(127, 137, 161);

              > li {
                width: 180px;
                padding: 7px;

                > a {
                  padding: 5px 10px;
                  display: block;
                  color: #333;
                }

                > a:hover {
                  color: #8490ff;
                }
              }
            }
          }
        }
      }
    }
  }
}

/* MAIN STYLES */

#banner {
  background-color: #f9f9ff;

  .container > #me {
    padding-top: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > div {
      margin-left: 30px;

      > h6 {
        font-size: 14px;
        letter-spacing: 2px;
        font-weight: 400px;
        color: #222222;
      }

      > h1 {
        font-size: 60px;
        margin: 20px 0;
      }

      > p {
        color: #777777;
        font-size: 14px;
        line-height: 1.625em;
        font-weight: normal;
        box-sizing: border-box;
        margin: 0 0 26px 0;
      }

      > a:hover {
        box-shadow: 0px 20px 20px 0px rgba(132, 144, 255, 0.3);
      }

      > a {
        transition-duration: 0.5s;
        padding: 10px 30px;
        color: white;
        background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
        font-size: 14px;
        font-weight: bold;
      }
    }

    > div {
      > img {
        margin-right: 50px;
      }
    }
  }
}

#about-me {
  padding-bottom: 20px;

  .container > #details {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > div {
      margin-left: 50px;
      > h6 {
        color: #222222;
        font-size: 14px;
        margin-bottom: 30px;
        margin-top: 0;
      }

      > h1 {
        margin: 0 0 30px 0;
        line-height: 1.2em;
      }

      > p {
        margin-bottom: 30px;
        color: #777777;
        line-height: 1.625em;
      }

      > a:hover {
        box-shadow: 0px 20px 20px 0px rgba(132, 144, 255, 0.3);
      }

      > a {
        transition-duration: 0.5s;
        padding: 10px 30px;
        color: white;
        background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
        font-size: 14px;
        font-weight: bold;
      }
    }

    > div {
      margin: 0 58px 0 0;
      img {
        width: 540px;
        height: 383px;
      }
    }
  }
}

#services {
  > div {
    > h1 {
      margin-bottom: 10px;
      color: #222222;
      line-height: 1.2em;
      text-align: center;
    }

    > p {
      font-size: 14px;
      color: #777777;
      line-height: 1.625em;
      text-align: center;
    }
  }

  > #services-items {
    text-align: center;
    display: flex;
    flex-wrap: wrap;

    > div {
      width: 338px;
      margin-top: 60px;
      padding: 0 15px 0 15px;

      > h4 {
        font-size: 18px;
        color: #222222;
        line-height: 1.2em;
      }

      > a {
        transition-duration: 0.3s;
      }

      > a:hover {
        color: #8490ff;
      }

      > p {
        font-size: 14px;
        color: #777777;
        line-height: 1.625em;
      }

      > span {
      }
    }
  }
}

#resume {
  margin-top: 120px;
  background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
  padding: 110px 0;
  text-align: center;
  color: white;
  line-height: 1.625em;
  > .container {
    display: flex;

    > div {
      width: 25%;

      > h1 {
        margin: 0;
        line-height: 1.2rem;
        font-size: 40px;
        font-weight: bold;
      }

      > p {
        font-size: 14px;
        margin-top: 10px;
      }
    }
  }
}

#projects {
  margin-top: 120px;
  text-align: center;

  .container > div {
    padding-bottom: 70px;

    > h1 {
      font-size: 36px;
      margin-bottom: 10px;
      color: #222222;
    }

    > p {
      font-size: 14px;
      margin-top: 0;
      margin-bottom: 1rem;
      color: #777777;
      line-height: 1.625em;
    }
  }

  .container > #filters {
    padding-bottom: 55px;
    > nav > ul {
      list-style-type: none;
      display: flex;
      justify-content: center;

      > li > a {
        padding: 18px 15px;
        color: #222;
        font-size: 12px;
        font-weight: bold;
      }
    }
  }

  .container > #filters-content {
    margin: 0 auto;
    max-width: 1300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    > div > div {
      > h4 {
        color: #222222;
        line-height: 1.2em;
        margin-bottom: 0;
        margin-top: 15px;
        font-size: 18px;
      }

      > p {
        color: #777777;
        font-size: 14px;
        line-height: 1.625em;
        margin-top: 0;
        margin-bottom: 20px;
      }
    }
  }
}

#feedback {
  text-align: center;
  background-color: #f9f9ff;

  .container {
    padding-top: 80px;
    padding-bottom: 110px;

    > div {
      > h1 {
        margin-bottom: 10px;
        color: #222222;
      }
      > p {
        margin: 0 0 1rem 0;
        color: #777777;
        font-size: 14px;
        line-height: 1.625em;
      }
    }

    > div > div {
      padding-top: 70px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    > div > div > div {
      margin-left: 30px;
      text-align: left;
      width: 550px;
      display: flex;
      background-color: #fff;
      padding: 25px 30px 12px 30px;

      > div > img {
        max-width: 35px;
      }

      .comment {
        margin-left: 30px;

        > p {
          margin-top: 0;
          color: #777777;
        }

        > h4 {
          margin: 0 0 5px 0;
          font-size: 18px;
          color: #222222;
          transition-duration: 0.3s;
        }

        > h4:hover {
          cursor: pointer;
          color: #8490ff;
        }
      }
    }
  }
}

#plan {
  text-align: center;
  padding: 100px 0;

  > .container {
    > div {
      > h1 {
        margin: 0 0 10px 0;
        color: #222222;
      }
      > p {
        margin: 0 0 1rem 0;
        margin-top: 0;
        color: #777777;
      }
    }

    > #price {
      margin-top: 100px;
      > div {
        display: flex;
        flex-wrap: wrap;

        > .account-type:hover {
          color: white;
          cursor: pointer;
          transform: scale(1.1);
          background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
        }
        .account-type {
          transition-duration: 0.3s;
          padding: 40px 10px;
          width: 257px;
          background-color: #f9f9ff;

          > div {
            > h1 {
              margin-top: 0;
              margin-bottom: 0;
              display: grid;
              align-items: center;
              background-color: rgba(132, 144, 255, 0.1);
              margin-left: auto;
              margin-right: auto;
              border-radius: 50%;
              width: 90px;
              height: 90px;
              border: 30px solid rgba(132, 144, 255, 0.1);
            }

            > h4 {
              margin-top: 20px;
              margin-bottom: 0;
              font-size: 18px;
              color: #222222;
              line-height: 1.2em;
            }

            > p {
              margin-bottom: 35px;
              margin-top: 10px;
              color: #777777;
              line-height: 1.625em;
            }

            > h2 {
              font-size: 36px;
              color: #222222;
              line-height: 1.2em !important;
              margin-bottom: 0;
              margin-top: 20px;
            }
          }

          > div {
            > ul {
              margin: 0;
              padding: 0;
              list-style: none;

              > li {
                color: #777777;

                font-size: 14px;
                padding: 12px 0;
                border-top: 1px solid #eee;
                border-bottom: 1px solid #eee;
              }
            }
          }
        }
      }
    }
  }
}

#blog {
  padding: 90px 0;
  text-align: center;
  background-color: #f9f9ff;

  > .container {
    > div {
      > p {
        margin: 0 0 45px 0;
        color: #777777;
      }
      > h1 {
        margin: 0 0 25px 0;
        color: #222222;
      }
    }

    > #row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: left;

      > .blog-item {
        max-width: 33%;
        padding: 0 15px;
        cursor: pointer;

        > a > h4:hover {
          color: #8490ff;
        }
        > a > h4 {
          transition-duration: 0.3s;
          font-size: 18px;
          color: #222222;
          line-height: 1.2em !important;
          margin-top: 35px;
          margin-bottom: 0;
          text-transform: uppercase;
        }
        > p {
          margin-top: 15px;
          margin-bottom: 45px;
          color: #777777;
        }
      }

      > div {
        > div > img {
          transition-duration: 0.3s;
        }
        > div > img:hover {
          transform: scale(1.1);
        }

        .details {
          padding: 10px 0;
          border-bottom: 1px solid #eee;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .user {
            max-width: max-content;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            > a {
              margin-left: 15px;
            }
          }

          .meta {
            color: #777777;
            > a {
              color: #777777;
            }
            > span::before {
              margin: 0 4px 0 13px;
              content: url(imgs/icons8-heart-14.png);
            }
            > a::before {
              margin: 0 4px 0 13px;
              content: url(imgs/icons8-comment-14.png);
            }
          }
        }
      }
    }
  }
}

#brand {
  padding: 90px 0;
  background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
  > .container {
    > #brand-item {
      display: flex;
      align-items: center;
      justify-content: center;
      > div > a > img {
        margin-left: 100px;
      }
    }
  }
}


